<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form action="/auth/login" method="post">
        <section class="form-group">
            <label for="username">로그인 ID</label>
            <input type="text" id="username" name="username" class="form-control">
            <div class="field-error"></div>
        </section>
        <section class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" class="form-control">
            <div class="field-error"></div>
        </section>
        <section class="form-group">
            <input type="submit" value="Login">
        </section>
    </form>
</body>
</html>