<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:if="${post}">
        <h2 th:text="${post.title}">Post Title</h2>
        <div th:utext="${post.content}">Post Content</div>
        <div class="thumbnail" th:style="'background-image: url(' + ${post.thumbnailUrl} + '); width: 200px; height: 200px; background-size: cover; background-position: center;'"></div>
    </div>
    <button type="button" onclick="window.location.href='/posts';">목록가기</button>
</body>
</html>